[Unit]
Description=backend service
After=network.target

[Service]
Type=exec

User=backend

Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs

ExecStart=java -jar /opt/sausage-store/bin/sausage-store.jar

StandardError=file:/opt/log/sausage-store-backend.log

[Install]
WantedBy=multi-user.target

