[Unit]
Description=backend service
After=network.target

[Service]
Type=exec

User=backend

Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs

Environment=PSQL_USER="std-024-12"
Environment=PSQL_PASSWORD="Testusr1234"
Environment=PSQL_HOST="rc1d-6ltxi07qdaaunpa5.mdb.yandexcloud.net"
Environment=PSQL_DBNAME="std-024-12"
Environment=PSQL_PORT="6432"

# Параметры подключения к БД можно указать с помощью переменных окружения SPRING
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"

ExecStart=java -jar /opt/sausage-store/bin/sausage-store.jar

StandardOutput=file:/opt/log/backend_out.log
StandardError=file:/opt/log/sausage-store-backend.log

[Install]
WantedBy=multi-user.target

